* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  color: #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  border-bottom: 1px solid #f0f0f0;
}

.img-logo {
  height: 80px;
  width: auto;
  padding-left: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #444444;
  font-size: 14px;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #000000;
  border-bottom: 2px solid #000000;
}

button {
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease;
}

.btn-signin {
  background-color: #e6e6e6;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 12px;
}

.btn-register {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 12px;
}

.btn-register:hover {
  background-color: #333333;
  transform: translateY(-2px);
}

.btn-signin:hover {
  background-color: #b0b0b0;
  transform: translateY(-2px);
}

.main-landing {
  padding: 0 5%;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0;
  gap: 40px;
}

.landing-content {
  flex: 1;
}

.landing-content h1 {
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 20px;
}

.landing-content h2 {
  padding-bottom: 20px;
}

.landing-content p {
  font-size: 15px;
  color: #555555;
  margin-bottom: 35px;
  line-height: 1.6;
  max-width: 550px;
}

.btn-contact {
  background-color: #eeeeee;
  padding: 15px 50px;
  font-size: 24px;
  border-radius: 12px;
}

.btn-contact:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.landing-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img-main {
  width: 100%;
  max-width: 500px;
}

.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 5%;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.feature-item:hover {
  transform: scale(1.2);
}

.feature-img {
  height: 45px;
  width: auto;
}

.feature-item p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #444444;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* tablet */
@media (max-width: 1024px) {
  .landing {
    flex-direction: column;
    text-align: center;
  }
  .landing-content p {
    margin: 0 auto 35px auto;
  }
  .landing-content h1 {
    font-size: 60px;
  }
}

/* celular */
@media (max-width: 768px) {
  .nav-links,
  .nav-buttons {
    display: none;
  }
  .landing-content h1 {
    font-size: 45px;
  }
  .features {
    flex-wrap: wrap;
    gap: 20px;
  }
}
